# Sample Data

We have 4 datasets: Demographic, Mortgage, Weather, and Policy.
- Demogrpahic: 584590 rows and 637 columns
- Mortgage: 584590 rows and 624 columns
- Weather: 584590 rows and 467 columns
- Policy: 584590 rows and 196 columns

Due to the restriction of code processing with such large dataset, we decide to ramdomly select 10% of data from each dataset for future used.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
id_2020 = pd.read_csv("/content/drive/MyDrive/Capstone/files/2020training_id.csv")

In [ ]:
dd = pd.read_csv('/content/drive/MyDrive/Capstone/files/team6_source1.csv')

In [ ]:
dd_2020 = dd[dd.qpid.isin(id_2020.qpid) == True]

In [ ]:
dd_2020.shape

(416283, 638)

In [ ]:
dd_2020.head(3)

       qpid   var0008   var0009   var0010  ...  var1709  var1710  var1711  var1712
0  24739084  0.937058  0.030144  0.069395  ...      0.0      0.0      2.0     0.00
1  24739091  0.937058  0.030144  0.069395  ...      0.0      0.0      2.0     3.06
2  24739121  0.937058  0.030144  0.069395  ...      0.0      0.0      0.0     0.00

[3 rows x 638 columns]

In [ ]:
type(dd_2020['qpid'][0])

numpy.int64

In [ ]:
driver = pd.read_csv("/content/drive/MyDrive/Capstone/files/team6_driver.csv")

In [ ]:
driver.shape

(584590, 6)

In [ ]:
driver.head(3)

       qpid state  year    zip5    zip4  target
0  24739084    CT  2020  6801.0  2842.0       0
1  24739091    CT  2020  6801.0  2875.0       1
2  24739121    CT  2020  6801.0  1709.0       0

In [ ]:
driver2020 = driver[driver['year'] == 2020]

In [ ]:
driver2020.shape

(416283, 6)

In [ ]:
type(driver['qpid'][0])

numpy.int64

In [ ]:
del dd_2020['qpid']

In [ ]:
concat = pd.concat([driver2020, dd_2020], axis=1)

In [ ]:
concat.shape

(416283, 643)

In [ ]:
concat.head(3)

       qpid state  year    zip5  ...  var1709  var1710  var1711  var1712
0  24739084    CT  2020  6801.0  ...      0.0      0.0      2.0     0.00
1  24739091    CT  2020  6801.0  ...      0.0      0.0      2.0     3.06
2  24739121    CT  2020  6801.0  ...      0.0      0.0      0.0     0.00

[3 rows x 643 columns]

In [ ]:
from sklearn.model_selection import train_test_split

stratified_sample, _ = train_test_split(concat, test_size=0.9, stratify=concat[['state', 'target']], random_state=888)

In [ ]:
stratified_sample.shape

(41628, 643)

In [ ]:
del stratified_sample['year']

In [ ]:
del stratified_sample['zip5']
del stratified_sample['zip4']
del stratified_sample['state']

In [ ]:
stratified_sample.shape

(41628, 639)

In [ ]:
# Export
from google.colab import files

stratified_sample.to_csv('source1_str.csv', index=False)
!cp source1_str.csv "drive/My Drive/"

In [ ]:
stratified_id = stratified_sample['qpid']

In [ ]:
stratified_id.shape

(41628,)

In [ ]:
# Export
from google.colab import files

stratified_id.to_csv('stratified_id.csv', index=False)
!cp stratified_id.csv "drive/My Drive/"

In [ ]:
dd = pd.read_csv('/content/drive/MyDrive/Capstone/files/team6_source4.csv')

In [ ]:
stratified_id = pd.read_csv('/content/drive/MyDrive/Capstone/files/stratified_id.csv')

In [ ]:
stratified_id.head(3)

       qpid
0  87392583
1  85827939
2  25171944

In [ ]:
id_2020 = pd.read_csv("/content/drive/MyDrive/Capstone/files/2020training_id.csv")

In [ ]:
dd_2020 = dd[dd.qpid.isin(id_2020.qpid) == True]

In [ ]:
driver = pd.read_csv("/content/drive/MyDrive/Capstone/files/team6_driver.csv")

In [ ]:
driver2020 = driver[driver['year'] == 2020]

In [ ]:
del dd_2020['qpid']

In [ ]:
concat = pd.concat([driver2020, dd_2020], axis=1)

In [ ]:
concat.head(3)

       qpid state  year    zip5  ...   var0911     var0912   var0913   var0914
0  24739084    CT  2020  6801.0  ...  0.631296  1361.76631  0.936246  4.861464
1  24739091    CT  2020  6801.0  ...  0.631296  1361.76631  0.936246  4.861464
2  24739121    CT  2020  6801.0  ...  0.631296  1361.76631  0.936246  4.861464

[3 rows x 201 columns]

In [ ]:
stratified_sample = concat[concat.qpid.isin(stratified_id.qpid) == True]

In [ ]:
stratified_sample.head(3)

        qpid state  year    zip5  ...   var0911     var0912   var0913   var0914
1   24739091    CT  2020  6801.0  ...  0.631296  1361.76631  0.936246  4.861464
32  24741045    CT  2020  6801.0  ...  0.631296  1361.76631  0.936246  4.861464
44  24741658    CT  2020  6801.0  ...  0.631296  1361.76631  0.936246  4.861464

[3 rows x 201 columns]

In [ ]:
del stratified_sample['state']
del stratified_sample['year']
del stratified_sample['zip5']
del stratified_sample['zip4']

In [ ]:
# Export
from google.colab import files

stratified_sample.to_csv('source4_str.csv', index=False)
!cp source4_str.csv "drive/My Drive/Capstone/files/"